@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.text-center{
    text-align:center;
}
.mx-auto{
    margin:auto;
}

.flex{
    display:flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items:center;
}

html,body{
    height:100%;
    width:100%;
    font-family: 'Roboto', sans-serif;
}
.button{
    padding:20px;
    width: 10px;
    margin:0 3px;
    border:2px solid black;
    border-radius:9px;
    cursor:pointer;
}
.row{
    margin:8px 0;
}
.row input{
    font-size: 14px;
    margin: 0;
    padding: 10px 32px;
    width: 140px;
    border: 2px solid black;
    border-radius: 5px;
}
+++